
pre {
  margin: 0;
  padding : 0;
  border: 0;
  background-color: #002b36;
}

td.code {
  background-color: #002b36;
}

.table>tbody>tr>td {
  border-top: 0;
}

textarea#docbox, textarea#codebox {
  width: 50%;
}
