pre {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #002b36; }

td.code {
  background-color: #002b36; }

.table > tbody > tr > td {
  border-top: 0; }

div.navbar-brand {
  cursor: pointer; }

.error-msg {
  color: red; }

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

td button.btn {
  float: right;
  margin-right: 10px;
  display: none; }

td:hover button {
  display: block; }
